<!-- <app-service-task></app-service-task> -->
<!-- <app-crud1></app-crud1> -->
<!-- <div class="card">
    <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
</div> -->
<!-- 
<i class="pi pi-check"></i>
<i class="pi pi-times"></i>
<span class="pi pi-search"></span>
<span class="pi pi-user"></span> -->
<!-- <app-data-binding></app-data-binding> -->
<!-- <app-directi></app-directi> -->
<!-- <app-templet-driven></app-templet-driven> -->
<!-- <app-pipe></app-pipe> -->
<!-- <app-practiceservice></app-practiceservice> -->
<!-- <app-rxjs></app-rxjs> -->
<app-promise></app-promise>



